<header class="navbar navbar-fixed-top">
<div class="navbar-inner" style="max-height: 102px;">
  <div class="container" style="width: 575px">
    <h1 class="mainTitle"><%= link_to image_tag("/assets/malogo.png"), root_path %></h1>
  <nav>
  <ul class="nav pull-left"> 
    <li><%= link_to "ABOUT", about_path  %></li>
    <li><%= link_to "VIDEO", video_path %></li>
  </ul>
  </nav>
  <nav>
  <ul class="nav pull-right"> 
    <li><%= link_to "WEB", web_path %></li>
    <li><%= link_to "CONTACT", contact_path %></li>
  </ul>
  </nav>

</div>
  </div>
</header>
