<header>
<div class="span2" style="width:290px; margin-top:100px;margin-left:150px;">
<h1 class="mainTitle"><%= link_to image_tag("/assets/new_ma_logo.png"), root_path %></h1>
<h1 class="underTitle">Media Production Company</h1>
<ul class="info">
  <hr />
  <li>Phone<span>704.555.5555</span></li>
  <li>Email<span>info@MissingArtists.com</span></li>
  <hr />
</ul>
</div>
<div class="span3 span3Custom">
  <nav>
  <ul>
    <li><%= link_to image_tag("/assets/film_ina.png"), root_path %></li>
    <li><%= link_to image_tag("/assets/photo_ina.png"), root_path %></li>
    <li><%= link_to image_tag("/assets/info_ina.png"), root_path %></li>
    <li><%= link_to image_tag("/assets/cale_ina.png"), root_path %></li>
    <li><%= link_to image_tag("/assets/home_act.png"), root_path %></li>
  </ul>
  </nav>
</div>
</header>
